*{
    margin: 0;
    padding: 0;
}
#box{
    width: 100%;
    header{
        width: 1200px;
        height: 45px;
        padding: 20px 0;
        margin: 0 auto;
        img{
            width: 80px;
            height: 100%;
        }
    }

    main{
        width: 100%;
        height: 600px;
        background-image: url(../icon/bgimg.jpg);
        background-position: 50% 0;
        position: relative;

        #login{
            width: 350px;
            height: 320px;
            padding: 25px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 65%;
            background-color: #f1f1f1;
            box-sizing: border-box;

            .login-title{
                height: 30px;
                margin: 5px 0 20px 0;
                span{
                    display: inline-block;
                    width: 70px;
                    text-align: center;
                    padding: 5px 0;
                    color: #3c3c3c;
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0 5px;
                    border-bottom: 2px solid transparent;
                    cursor: pointer;
                }
                .pass-login{
                    border-color: #000;
                }
            }

            .login-content{
                width: 100%;
                .login-inp{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                   label{
                       display: inline-block;
                       width: 40px;
                       height: 40px;
                       background-color: #ccc;
                       font-size: 24px;
                       color: #fff;
                       text-align: center;
                       line-height: 40px;
                       border-radius: 2px 0 0 2px;
                       border: 1px solid #ccc;
                       box-sizing: border-box;
                   }
                   input{
                       flex: 1;
                       box-sizing: border-box;
                       height: 100%;
                       outline: none;
                       border: 1px solid #ccc;
                       padding: 0 10px;
                   }
                }

                .login-btn{
                    margin-bottom: 20px;
                    .btn{
                        width: 100%;
                        height: 40px;
                        border: 1px solid #f40;
                        font-size: 16px;
                        background-color: #f40;
                        color: #fff;
                        cursor: pointer;
                        outline: none;
                        text-align: center;
                        line-height: 40px;
                        box-sizing: border-box;
                        border-radius: 2px;
                        &:hover{
                           background-color:#f52b00; 
                        }
                    }
                }
                 .userTest,.passTest{
                     font-size: 12px;
                     color: #f00;
                     text-align: center;
                     margin: 5px 0;
                     opacity: 0;
                     transition: opacity .2s linear;

                 }
                .forget-pass{
                    font-size: 12px;
                    color: #6c6c6c;
                    text-align: right;
                    span{
                        margin: 0 5px;
                        cursor: pointer;
                    }

                    .register{
                        display: inline-block;
                        width: 40px;
                        padding: 5px;
                        background-color: #c0c0c0;
                        color: #fff;
                        text-align: center;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}