<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/cart.css">
    <script src="../lib/MyPromise.js"></script>
</head>
<body>
    <div id='cart'>
        <div id='header'>
            <div class='container'>
                <div class='header-left'>
                    <a href="../index.html" class='logo'>优品购</a>
                    <div class='login-btns'>
                        <a href="" class='user'>你好请登录</a>
                        <a href="../views/login.html" class='register'>免费注册</a>
                    </div>
                </div>
                <div class='header-center'>
                    <div class='header-search'>
                        <input type="text" placeholder="好宝贝 等你搜">
                        <button>搜索</button>
                    </div>
                    <div class='hot-search'>
                        <a href="">口罩</a>
                        <a href="">螺狮粉</a>
                        <a href="">抽纸</a>
                        <a href="">洗脸巾</a>
                        <a href="" class='hot-list'>数据线</a>
                        <a href="">洗发水</a>
                        <a href="" class='hot-list'>驱蚊贴</a>
                        <a href="">短袖</a>
                        <a href="">牙膏</a>
                    </div>
                </div>
                <div class='header-right'></div>
            </div>
        </div>
        <div id='nav'>
            <div class='container'>
                <div class='show-nav'>
                    <a href="../index.html" class='nav-hot'>首页</a>
                    <a href="">好货精选</a>
                    <a href="">疯抢榜</a>
                    <a href="">9块9包邮</a>
                    <a href="">咚咚抢</a>
                </div>
            </div>
        </div>
        <div id='main'>
            <div class='container'>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class='panel-title'>
                            <span><input type="checkbox" class='allCheck'>全选</span>
                            <span>商品种类：<span class='species'>0</span></span>
                            <span>所选商品数量：<span class='selectNum'>0</span></span>
                            <span>所选商品价格：<span class='selectPrice'>0</span></span>
                        </div>
                        <div class='panel-btns'>
                            <a href="#" class="btn btn-info btn-sm" role="button">结算</a>
                            <a href="#" class="btn btn-warning btn-sm" role="button">清空购物车</a>
                        </div>
                    </div>
                    <div class='content'>
                        <!-- <div class="panel-body">
                            <div class="media">
                                <div class='checkbox'><input type="checkbox"></div>
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object"
                                            src="http://img.alicdn.com/imgextra/i3/1726762492/O1CN019IKhwu1UHNdceAdCO_!!1726762492.jpg_310x310.jpg"
                                            alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p class="media-heading">【拍十件】田园百珍丹麦工艺曲奇饼干</p>
                                    <p class='goods-sales'><span>原价22.8</span> <span>销量 7.9万</span></p>
                                    <p class='goods-price'><span>￥17.8</span><span>10元券</span></p>
                                    <div class='panel-btns'>
                                        <a href="#" class="btn btn-danger btn-sm" role="button">删除商品</a>
                                    </div>
                                </div>
                                <div class='media-right'>
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <li><a href="#">-</a></li>
                                            <li><a href="#">0</a></li>
                                            <li><a href="#">+</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> -->

                    </div>

                    <div class="panel-footer">
                        <div class="total-box">
                            <span>总价格:</span>
                            <span class="total">0.00</span>
                        </div>
                         <!-- <div class='panel-btns'>
                             <a href="#" class="btn btn-info btn-sm" role="button">结算</a>
                             <a href="#" class="btn btn-warning btn-sm" role="button">清空购物车</a>
                         </div> -->
                    </div>
                        
                </div>
            </div>
        </div>
        <div id='footer'>
            <div class='container'>
                <ul class='copyright-ul'>
                    <li>网站导航</li>
                    <li class='ul-item'>首页</li>
                    <li class='ul-item'>好货精选</li>
                    <li class='ul-item'>疯抢榜</li>
                    <li class='ul-item'>咚咚抢</li>
                    <li>9.9包邮</li>
                </ul>
                <p>优品购是一家中立的导购网站，网站中的商品信息均来自于互联网。如商品信息不同，可能是商品信息未及时更新，所有商品信息请以天猫/淘宝店铺内为准。</p>
                <div class='copyright-txt'>
                    <span>版权所有 本站内容未经书面许可,禁止一切形式的转载</span>
                    <span>© CopyRight 2021</span>
                    <span>优品购http://m.youpingou.com</span>
                    <span>渝ICP备14005138号-2</span>
                    <span>我要反馈</span>
                </div>
            </div>
            <div class='float-btns'>
                <p>
                    <img src="https://cmsstatic.ffquan.cn//images/home/sc.png?v=202104231430" alt="">
                    <span>收藏</span>
                </p>
                <p>
                    <img src="https://cmsstatic.ffquan.cn//images/home/share.png?v=202104231430" alt="">
                    <span>分享</span>
                </p>
                <p>
                    <img src="https://cmsstatic.ffquan.cn//images/home/feedback.png?v=202104231430" alt="">
                    <span>反馈</span>
                </p>
                <p class='back-top'>
                    <img src="https://cmsstatic.ffquan.cn//images/home/top.png?v=202104231430" alt="">
                </p>
            </div>
        </div>
    </div>
    <script src="../js/cart.js"></script>
</body>
</html>