<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/details.css">

</head>

<body>
    <div id='details'>
        <div id='header'>
            <div class='container'>
                <div class='header-left'>
                    <a href="">优品购</a>
                </div>
                <div class='header-center'>
                    <div class='header-search'>
                        <input type="text" placeholder="好宝贝 等你搜">
                        <button>搜索</button>
                    </div>
                    <div class='hot-search'>
                        <a href="">口罩</a>
                        <a href="">螺狮粉</a>
                        <a href="">抽纸</a>
                        <a href="">洗脸巾</a>
                        <a href="" class='hot-list'>数据线</a>
                        <a href="">洗发水</a>
                        <a href="" class='hot-list'>驱蚊贴</a>
                        <a href="">短袖</a>
                        <a href="">牙膏</a>
                    </div>
                </div>
                <div class='header-right'>

                </div>
            </div>
        </div>
        <div id='nav'>
            <div class='container'>
                <div class='show-nav'>
                    <a href="" class='nav-hot'>首页</a>
                    <a href="">好货精选</a>
                    <a href="">疯抢榜</a>
                    <a href="">9块9包邮</a>
                    <a href="">咚咚抢</a>
                </div>
            </div>
            <div id='hide-nav'>
                <div class='hide-nav'>
                    <ul class='hide-list'>
                        <li><a href="">首页</a></li>
                        <li><a href="">居家日用</a></li>
                        <li><a href="">美食</a></li>
                        <li><a href="">母婴</a></li>
                        <li><a href="">美妆</a></li>
                        <li><a href="">女装</a></li>
                        <li><a href="">数码家电</a></li>
                        <li><a href="">文娱车品</a></li>
                        <li><a href="">内衣</a></li>
                        <li><a href="">家装家纺</a></li>
                        <li><a href="">鞋品</a></li>
                        <li><a href="">男装</a></li>
                        <li><a href="">配饰</a></li>
                        <li><a href="">户外运动</a></li>
                        <li><a href="">鞋包</a></li>
                    </ul>
                    <div class='hide-sreach'>
                        <input type="text" class='float-search'>
                        <button class='hide-btn'><img
                                src="https://cmsstatic.ffquan.cn/images/srcicos.png?v=123123?v=2021323305356"
                                alt=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div id='main'>
            <div class='container'>
                <div class='title-link'>
                    <a href="">首页 </a><i>></i>
                    <a href="">领券直播 </a><i>></i>
                    <a href="">母婴 </a> <i>></i>
                    <span>优惠详情</span>
                </div>
                <div class='details-top'>
                    <div class='details-content'>
                        <div class='details-img'>
                            <img src="https://img.alicdn.com/imgextra/i2/2672045966/O1CN01bWNiaZ1twTaGcSKc2_!!2672045966.jpg_400x400.jpg"
                                alt="">
                        </div>
                        <div class='details-describe'>
                            <p class='describe-title'>
                                <img src="https://cmsstatic.ffquan.cn/images/tmall.png?v=2021323305356" alt="">
                                <span>小鹿蓝蓝山楂棒棒糖宝宝健康零食</span>
                            </p>
                            <p class='describe-num'>
                                <span>上新时间：05-11 17:46</span>
                                <span>累计销量：<b>7.3</b> 万件</span>
                            </p>
                            <p class='describe-cheap'>
                                <span>独家优享：</span>
                                <span>10元券</span>
                            </p>
                            <p class='goods-label'>
                                <span>商品标签：</span>
                                <span class='labei-item'>天猫</span>
                                <span class='labei-item'>包邮</span>
                            </p>
                            <p class='goods-price'>
                                <span>￥9.9</span>
                                <span>￥19.9</span>
                            </p>
                            <p class='goods-btn'>
                                <button>领券购买</button>
                                <button><img src="https://cmsstatic.ffquan.cn//images/home/share.png?v=202104231430"
                                        alt=""> 分享</button>
                            </p>
                        </div>
                    </div>
                    <div class='details-text'>
                        <h5>推荐理由</h5>
                        <p>【小鹿蓝蓝】山楂棒棒糖，精选山东寺头山楂，匠心工艺制作，还原自然好风味，宝宝超爱吃。餐前开胃，餐后助消化，0食品添加，妈妈更放心！</p>
                        <p>此款商品正在进行限时活动，原来天猫售价19.9元，现有10元优惠券，到手仅需9.9元，绝对超值，有需要可速度下单哦！</p>
                        <p class='feedback'>
                            <span>我要举报：</span>
                            <a href="">价格错误</a>
                            <a href="">优惠券失效</a>
                            <a href="">其他</a>
                        </p>
                    </div>

                </div>
                <div class='details-msg'>
                   <div class='details-title'>
                       <h5>店铺信息</h5>
                   </div>
                   <div class='details-shop'>
                       <div class='shop-left'>
                           <img src="https://img.alicdn.com/imgextra//i1/2208170228854/O1CN01MGjxsq2FHBN8vuGdb_!!2208170228854.jpg" alt="">
                           <div class='shop-content'>
                               <p class='shop-title'>小鹿蓝蓝旗舰店</p>
                               <p class='shop-img'><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fviewpoint.mydrivers.com%2FImg%2F20120329%2F2012032905434386.jpg&refer=http%3A%2F%2Fviewpoint.mydrivers.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1623421706&t=580dbaaa7174992eddeec276fbbfac30" alt=""></p>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div id='footer'>
            <div class='container'>
                <ul class='copyright-ul'>
                    <li>网站导航</li>
                    <li class='ul-item'>首页</li>
                    <li class='ul-item'>好货精选</li>
                    <li class='ul-item'>疯抢榜</li>
                    <li class='ul-item'>咚咚抢</li>
                    <li>9.9包邮</li>
                </ul>
                <p>优品购是一家中立的导购网站，网站中的商品信息均来自于互联网。如商品信息不同，可能是商品信息未及时更新，所有商品信息请以天猫/淘宝店铺内为准。</p>
                <div class='copyright-txt'>
                    <span>版权所有 本站内容未经书面许可,禁止一切形式的转载</span>
                    <span>© CopyRight 2021</span>
                    <span>优品购http://m.youpingou.com</span>
                    <span>渝ICP备14005138号-2</span>
                    <span>我要反馈</span>
                </div>
            </div>
            <div class='float-btns'>
                <p>
                    <img src="https://cmsstatic.ffquan.cn//images/home/sc.png?v=202104231430" alt="">
                    <span>收藏</span>
                </p>
                <p>
                    <img src="https://cmsstatic.ffquan.cn//images/home/share.png?v=202104231430" alt="">
                    <span>分享</span>
                </p>
                <p>
                    <img src="https://cmsstatic.ffquan.cn//images/home/feedback.png?v=202104231430" alt="">
                    <span>反馈</span>
                </p>
                <p class='back-top'>
                    <img src="https://cmsstatic.ffquan.cn//images/home/top.png?v=202104231430" alt="">
                </p>
            </div>
        </div>
    </div>
</body>

</html>