<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>优品购</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../lib/swiper-bundle.min.js"></script>
    <script src="../lib/pagination.js"></script>
    <script src="../lib/MyPromise.js"></script>
</head>

<body>
    <div id='app'>
        <div id='header'>
            <div class='container'>
                <div class='header-left'>
                    <a href="">优品购</a>
                </div>
                <div class='header-center'>
                    <div class='header-search'>
                        <input type="text" placeholder="好宝贝 等你搜">
                        <button>搜索</button>
                    </div>
                    <div class='hot-search'>
                        <a href="">口罩</a>
                        <a href="">螺狮粉</a>
                        <a href="">抽纸</a>
                        <a href="">洗脸巾</a>
                        <a href="" class='hot-list'>数据线</a>
                        <a href="">洗发水</a>
                        <a href="" class='hot-list'>驱蚊贴</a>
                        <a href="">短袖</a>
                        <a href="">牙膏</a>
                    </div>
                </div>
                <div class='header-right'>

                </div>
            </div>
        </div>
        <div id='nav'>
            <div class='container'>
                <div class='show-nav'>
                    <a href="" class='nav-hot'>首页</a>
                    <a href="">好货精选</a>
                    <a href="">疯抢榜</a>
                    <a href="">9块9包邮</a>
                    <a href="">咚咚抢</a>
                </div>
            </div>
            <div id='hide-nav'>
                <div class='hide-nav'>
                   <ul class='hide-list'>
                       <li><a href="">首页</a></li>
                       <li><a href="">居家日用</a></li>
                       <li><a href="">美食</a></li>
                       <li><a href="">母婴</a></li>
                       <li><a href="">美妆</a></li>
                       <li><a href="">女装</a></li>
                       <li><a href="">数码家电</a></li>
                       <li><a href="">文娱车品</a></li>
                       <li><a href="">内衣</a></li>
                       <li><a href="">家装家纺</a></li>
                       <li><a href="">鞋品</a></li>
                       <li><a href="">男装</a></li>
                       <li><a href="">配饰</a></li>
                       <li><a href="">户外运动</a></li>
                       <li><a href="">鞋包</a></li>
                   </ul>
                   <div class='hide-sreach'>
                        <input type="text" class='float-search'>
                        <button class='hide-btn'><img src="https://cmsstatic.ffquan.cn/images/srcicos.png?v=123123?v=2021323305356" alt=""></button>
                   </div>
                </div>
            </div>
        </div>
        <div id='main'>
            <div class='container'>
                <!-- 轮播图区域 -->
                <div class='banner'>
                    <div class='banner-left'>
                        <dl class='banner-left-list'>
                            <h5><img src="https://img.alicdn.com/imgextra/i2/2053469401/O1CN01VG4gop2JJhu9yo5dR-2053469401.png"
                                    alt="">服饰鞋包</h5>
                            <dd>
                                <a href="" class='hot-list'>女装</a>
                                <a href="">男装</a>
                                <a href="" class='hot-list'>内衣</a>
                                <a href="" class='hot-list'>连衣裙</a>
                                <a href="">服饰</a>
                                <a href="">鞋品</a>
                                <a href="">箱包</a>
                                <a href="" class='hot-list'>T恤</a>
                            </dd>
                        </dl>
                        <dl class='banner-left-list'>
                            <h5><img src="https://img.alicdn.com/imgextra/i2/2053469401/O1CN01HDhZXR2JJhuAOUVjh-2053469401.png"
                                    alt="">美食</h5>
                            <dd>
                                <a href="">休闲零食</a>
                                <a href="" class='hot-list'>元气早餐</a>
                                <a href="" class='hot-list'>坚果</a>
                                <a href="">糖果巧克力</a>
                                <a href="" class='hot-list'>方便速食</a>
                            </dd>
                        </dl>
                        <dl class='banner-left-list'>
                            <h5><img src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN01xbEVSm2JJhuBVC5Pb-2053469401.png"
                                    alt="">美妆</h5>
                            <dd>
                                <a href="" class='hot-list'>唇妆</a>
                                <a href="" class='hot-list'>面膜</a>
                                <a href="">底妆</a>
                                <a href="">基础护肤</a>
                                <a href="" class='hot-list'>夏日防晒</a>
                                <a href="">眼妆</a>
                                <a href="">洗面奶</a>
                            </dd>
                        </dl>
                        <dl class='banner-left-list'>
                            <h5><img src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN01kv7JlR2JJhu3ZtUVN-2053469401.png"
                                    alt="">居家生活</h5>
                            <dd>
                                <a href="" class='hot-list'>母婴</a>
                                <a href="">日用品</a>
                                <a href="">厨房用品</a>
                                <a href="" class='hot-list'>纸巾</a>
                                <a href="">家装家纺</a>
                                <a href="">户外运动</a>
                            </dd>
                        </dl>
                        <dl class='banner-left-list'>
                            <h5><img src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN01nM4UX22JJhuB6Qun3-2053469401.png"
                                    alt="">数码办公</h5>
                            <dd>
                                <a href="" class='hot-list'>数码家电</a>
                                <a href="">文娱车品</a>
                                <a href="">耳机</a>
                            </dd>
                        </dl>
                    </div>
                    <div class='banner-center'>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img
                                        src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01amRNrh2JJi5ekowGp_!!2053469401.png"
                                        alt=""></div>
                                <div class="swiper-slide"><img
                                        src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN01abdZXo2JJi5XjqG3Z_!!2053469401.jpg"
                                        alt=""></div>
                                <div class="swiper-slide"><img
                                        src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN01QOfaHo2JJi59zbXoA_!!2053469401.jpg"
                                        alt=""></div>
                                <div class="swiper-slide"><img
                                        src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN019Js8CC2JJi5JI1cTD_!!2053469401.jpg"
                                        alt=""></div>
                                <div class="swiper-slide"><img
                                        src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN01IZH0Wn2JJi555xah5_!!2053469401.jpg"
                                        alt=""></div>
                                <div class="swiper-slide"><img
                                        src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01LYvcK72JJi5HbawJq_!!2053469401.jpg"
                                        alt=""></div>
                                <div class="swiper-slide"><img
                                        src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN01KsCH4p2JJi3DI8DqL_!!2053469401.jpg"
                                        alt=""></div>

                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>

                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev swiper-button-white"></div>
                            <div class="swiper-button-next swiper-button-white"></div>
                        </div>
                        <div class='banner-center-down'>
                            <a href=""><img
                                    src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN018g8oxg2JJhyGrGdHZ_!!2053469401.jpg"
                                    alt=""></a>
                            <a href=""><img
                                    src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN01BOsNue2JJi0VP3HY6_!!2053469401.jpg"
                                    alt=""></a>
                            <a href=""><img
                                    src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01v8lJmI2JJi5KGp9TW_!!2053469401.jpg"
                                    alt=""></a>
                        </div>
                    </div>
                    <div class='banner-right'>
                        <div>
                            <a href=""><img
                                    src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN01UhDaF22JJi1bPRH4Q_!!2053469401.jpg"
                                    alt=""></a>
                        </div>
                        <div class='banner-right-list'>
                            <h5><i></i><span>优惠头条</span></h5>
                            <div class="swiper-content">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <dl>
                                            <dd>
                                                <i>买一送一</i>
                                                <a href="">【汤成倍健】天然维生素e维e软胶囊</a>
                                            </dd>
                                            <dd>
                                                <i>第二件半价</i>
                                                <a href="">【气味图书馆】小红莓身体乳</a>
                                            </dd>
                                            <dd>
                                                <i>买一送一</i>
                                                <a href="">俄罗斯风味提拉米苏蛋糕300g</a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="swiper-slide">
                                        <dl>
                                            <dd>
                                                <i>买一送一</i>
                                                <a href="">玉泽净颜调护舒缓喷雾150ml</a>
                                            </dd>
                                            <dd>
                                                <i>第二件半价</i>
                                                <a href="">汤臣倍健男士多种维生素钙片</a>
                                            </dd>
                                            <dd>
                                                <i>第二件0元</i>
                                                <a href="">张三黑芝麻糕点120g/包</a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="swiper-slide">
                                        <dl>
                                            <dd>
                                                <i>买一送一</i>
                                                <a href="">【汤臣倍健】左旋肉碱茶多酚片</a>
                                            </dd>
                                            <dd>
                                                <i>买一送一</i>
                                                <a href="">【佰草集】水凝悦泽鲜注面膜</a>
                                            </dd>
                                            <dd>
                                                <i>第二件0元</i>
                                                <a href="">【立减20元】钙尔奇孕妇钙片60粒</a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="swiper-slide">
                                        <dl>
                                            <dd>
                                                <i>买一送一</i>
                                                <a href="">爱护洗发沐浴露二合一</a>
                                            </dd>
                                            <dd>
                                                <i>第二件半价</i>
                                                <a href="">【拍两份】自然乐园芦荟胶</a>
                                            </dd>
                                            <dd>
                                                <i>第二件0元</i>
                                                <a href="">爱心妈妈巴拉成长裤超薄透气</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href=""><img
                                    src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01BFuijF2JJi5MRf4dC_!!2053469401.jpg"
                                    alt=""></a>
                        </div>
                    </div>
                </div>

                <!-- 小编说 -->
                <div class='prompt'>
                    <b>小编说<img src="https://cmsstatic.ffquan.cn//images/home/lb.png?v=202104231430" alt=""></b>
                    <span>亲爱的，欢迎每天来选购超值优惠商品哦~每天都会准时更新</span>
                </div>

                <!-- ad广告区 -->
                <div class='ad'>
                    <div class='ad-left'>
                        <div class='ad-left-top'>
                            <div class='ad-left-title'>
                                <div>
                                    <i class='ad-title-icon'></i>
                                    <h5>咚咚抢</h5>
                                    <span class='ad-title-time'>
                                        <span>距本场结束</span>
                                        <i class='title-time-hours'>24</i>:
                                        <i class='title-time-minutes'>00</i>:
                                        <i class='title-time-seconds'>00</i>
                                    </span>
                                </div>
                                <div>
                                    <span>换一换</span>
                                    <span>查看更多</span>
                                </div>
                            </div>
                            <div class='left-top-item'>
                                <div class='top-item-left'>
                                    <img src="https://img.alicdn.com/imgextra/i3/2768335812/O1CN010KNxNz1snwc1G8AAz_!!2768335812.jpg_310x310.jpg"
                                        alt="">
                                </div>
                                <div class='top-item-right'>
                                    <p class='item-right-title'>黄老五黑芝麻酥糖376g</p>
                                    <p class='item-right-icon'>
                                        <span class='half-price'>第二件半价</span>
                                    </p>
                                    <p class='item-right-price'>
                                        <span>￥33.9</span>
                                        <b>￥36.9</b>
                                    </p>
                                </div>
                            </div>
                            <div class='left-top-item'>
                                <div class='top-item-left'>
                                    <img src="https://img.alicdn.com/i1/1120178555/O1CN01dFhNgV2D4EuX5WOBQ_!!1120178555.jpg_310x310.jpg"
                                        alt="">
                                </div>
                                <div class='top-item-right'>
                                    <p class='item-right-title'>黄老五花生米酥380g</p>
                                    <p class='item-right-icon'>
                                        <span class='half-price'>第二件半价</span>
                                        <span class='rob-buy'>品牌抢购</span>
                                    </p>
                                    <p class='item-right-price'>
                                        <span>￥26.8</span>
                                        <b>￥29.0</b>
                                    </p>
                                </div>
                            </div>
                            <div class='left-top-item'>
                                <div class='top-item-left'>
                                    <img src="https://img.alicdn.com/imgextra/i3/677726521/O1CN01hfZPHn1y2fQ0fb27e_!!677726521.jpg_310x310.jpg"
                                        alt="">
                                </div>
                                <div class='top-item-right'>
                                    <p class='item-right-title'>润本婴儿驱蚊贴</p>
                                    <p class='item-right-icon'>
                                        <span class='half-price'>第二件半价</span>
                                        <span class='hot-buy'>本场爆款</span>
                                    </p>
                                    <p class='item-right-price'>
                                        <span>￥12.9</span>
                                        <b>￥17.9</b>
                                    </p>
                                </div>
                            </div>
                            <div class='left-top-item'>
                                <div class='top-item-left'>
                                    <img src="https://img.alicdn.com/imgextra/i2/2201146955988/O1CN018VYuWB1u6YHW4HZsx_!!2201146955988.jpg_310x310.jpg"
                                        alt="">
                                </div>
                                <div class='top-item-right'>
                                    <p class='item-right-title'>本叮叮环保无味驱蚊液</p>
                                    <p class='item-right-icon'>
                                        <span class='half-price'>第二件半价</span>
                                    </p>
                                    <p class='item-right-price'>
                                        <span>￥38</span>
                                        <b>￥58</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class='ad-left-down'>
                            <div class='ad-left-title'>
                                <div>
                                    <i class='ad-title-icon'></i>
                                    <h5>疯抢榜</h5>
                                    <span class='ad-title-nowTime'>实时</span>
                                    <span>全天</span>
                                </div>
                                <div>
                                    <span>查看更多</span>
                                </div>
                            </div>
                            <div class='ad-left-downTop'>
                                <div class='downTop-item'>
                                    <img src="https://cmsstatic.ffquan.cn//images/home/top_1.png?v=202104231430" alt=""
                                        class='downTop-item-imgLeft'>
                                    <img src="https://img.alicdn.com/imgextra/i1/791877623/O1CN019l8El426BNsnyU65v_!!791877623.jpg_310x310.jpg"
                                        alt="" class='downTop-item-imgRight'>
                                    <div class='downTop-item-content'>
                                        <p>速抢! 20个医用成人口罩</p>
                                        <span>近两小时疯抢<b>4.6万</b>件</span>
                                        <div><span>￥1.1</span><span>2元券</span></div>
                                    </div>
                                </div>
                                <div class='downTop-item'>
                                    <img src="https://cmsstatic.ffquan.cn//images/home/top_2.png?v=202104231430" alt=""
                                        class='downTop-item-imgLeft'>
                                    <img src="http://img.alicdn.com/imgextra/i3/190903296/O1CN01HKzXKh1aDc5kxYpkq_!!190903296.jpg_310x310.jpg"
                                        alt="" class='downTop-item-imgRight'>
                                    <div class='downTop-item-content'>
                                        <p>【五芳斋】粽子礼袋400g共4只</p>
                                        <span>近两小时疯抢<b>2万</b>件</span>
                                        <div><span>￥9.9</span><span>10元券</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class='ad-left-downUp'>
                                <div class='downUp-item'>
                                    <div class='downUp-item-img'>
                                        <img src="https://img.alicdn.com/imgextra/i2/1994001610/O1CN01aDhgCn1NlQFC3AVW8_!!1994001610.jpg_310x310.jpg"
                                            alt="">
                                    </div>
                                    <div class='ad-item-content'>
                                        <p>【签到2元】家用卧室香薰精油</p>
                                        <span>近两小时疯抢<b>1.9万</b>件</span>
                                        <div class='item-content-price'>
                                            <span>￥5.9</span>
                                            <span>10元券</span>
                                        </div>
                                    </div>
                                    <span class='downUp-item-icon'><i>3</i></span>
                                </div>

                                <div class='downUp-item'>
                                    <div class='downUp-item-img'>
                                        <img src="https://img.alicdn.com/imgextra/i1/702948307/O1CN01ZtoBHV2BEenQRA5Sq_!!702948307.jpg_310x310.jpg"
                                            alt="">
                                    </div>
                                    <div class='ad-item-content'>
                                        <p>蓝牙音箱迷你携式低音炮</p>
                                        <span>近两小时疯抢<b>1.2万</b>件</span>
                                        <div class='item-content-price'>
                                            <span>￥9.9</span>
                                            <span>20元券</span>
                                        </div>
                                    </div>
                                    <span class='downUp-item-icon'><i>4</i></span>
                                </div>

                                <div class='downUp-item'>
                                    <div class='downUp-item-img'>
                                        <img src="https://img.alicdn.com/imgextra/i1/1603372607/O1CN01EGJPRS1V83A2z90RD_!!1603372607.jpg_310x310.jpg"
                                            alt="">
                                    </div>
                                    <div class='ad-item-content'>
                                        <p>【瑜然美】祛痘淡印芦荟胶300g</p>
                                        <span>近两小时疯抢<b>9891</b>件</span>
                                        <div class='item-content-price'>
                                            <span>￥5.1</span>
                                            <span>30元券</span>
                                        </div>
                                    </div>
                                    <span class='downUp-item-icon'><i>5</i></span>
                                </div>

                                <div class='downUp-item'>
                                    <div class='downUp-item-img'>
                                        <img src="https://img.alicdn.com/imgextra/i2/2815885210/O1CN01R46YLW1oMEB1Wta63_!!2815885210.jpg_310x310.jpg"
                                            alt="">
                                    </div>
                                    <div class='ad-item-content'>
                                        <p>可抵签到~【懒人必备】干湿两用免手洗拖把</p>
                                        <span>近两小时疯抢<b>8573</b>件</span>
                                        <div class='item-content-price'>
                                            <span>￥8.3</span>
                                            <span>10元券</span>
                                        </div>
                                    </div>
                                    <span class='downUp-item-icon'><i>6</i></span>
                                </div>

                                <div class='downUp-item'>
                                    <div class='downUp-item-img'>
                                        <img src="https://img.alicdn.com/imgextra/i1/1023477313/O1CN01K8QcL123tP3pXaTJa_!!1023477313.jpg_310x310.jpg"
                                            alt="">
                                    </div>
                                    <div class='ad-item-content'>
                                        <p>南京同仁堂植萃眼贴20贴</p>
                                        <span>近两小时疯抢<b>8430</b>件</span>
                                        <div class='item-content-price'>
                                            <span>￥9.9</span>
                                            <span>30元券</span>
                                        </div>
                                    </div>
                                    <span class='downUp-item-icon'><i>7</i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='ad-right'>
                        <div class='ad-right-title'>
                            <i></i>
                            <span>今日大牌</span>
                        </div>
                        <div class='ad-right-content'>
                            <div class='right-content-header'>
                                <img src="https://img.alicdn.com/imgextra/i2/2053469401/O1CN01V77EjP2JJhxJM9Ma1_!!2053469401.jpg_310x310.jpg"
                                    alt="">
                                <h4>中华老字号-云南白药</h4>
                                <p>创可贴20片仅4.9元 </p>
                            </div>
                            <div class='right-content-list'>
                                <div class='right-content-listItem'>
                                    <img src="http://img.alicdn.com/imgextra/i4/96558880/O1CN01vEpuYT2FT5ev1fN5k_!!0-item_pic.jpg_310x310.jpg"
                                        alt="">
                                    <div>
                                        <p>云南白药热敷蒸汽眼罩30片</p>
                                        <span>￥58.00 <b>￥68</b></span>
                                    </div>
                                </div>
                            </div>

                            <div class='right-content-list'>
                                <div class='right-content-listItem'>
                                    <img src="https://img.alicdn.com/imgextra/i2/2369119131/O1CN012HK2wNaAScc05Nj_!!2369119131.jpg_310x310.jpg"
                                        alt="">
                                    <div>
                                        <p>云南白药创可贴医用止血贴100片</p>
                                        <span>￥6.9 <b>￥7.9</b></span>
                                    </div>
                                </div>
                            </div>

                            <div class='right-content-list'>
                                <div class='right-content-listItem'>
                                    <img src="https://img.alicdn.com/imgextra/i1/4247595280/O1CN01h9GAAY1osHrNCwoHR_!!4247595280.jpg_310x310.jpg"
                                        alt="">
                                    <div>
                                        <p>云南白药千草堂洗衣液1公斤</p>
                                        <span>￥19.00 <b>￥29</b></span>
                                    </div>
                                </div>
                            </div>

                            <div class='right-content-list'>
                                <div class='right-content-listItem'>
                                    <img src="https://img.alicdn.com/imgextra/i4/2790434276/O1CN01yR4wJP1hSSByGRLiL_!!2790434276.jpg_310x310.jpg"
                                        alt="">
                                    <div>
                                        <p>云南白药儿童益生菌防蛀牙膏60g</p>
                                        <span>￥37.00 <b>￥42</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 列表区 -->
                <div class='goods-list'>
                    <div class='goods-title'>
                        <div class='goods-title-left'>
                            <i></i>
                            <h5>好货精选</h5>
                            <span>实时更新 独享优惠券</span>
                        </div>
                        <div class='goods-title-right'>
                            <span>今日已为用户省钱<b>24,710,695</b>元</span>
                        </div>
                    </div>
                    <div class='list-content'>
                        <!-- 商品列表渲染开始 -->
                        <!-- <div class='list-item'>
                            <div class='item-top'><img
                                    src="https://img.alicdn.com/imgextra/i1/2101533332/O1CN01c1jUEX1aU6MqCfcVL_!!2101533332.jpg_310x310.jpg"
                                    alt=""></div>
                            <div class='item-down'>
                                <p class='item-title'>
                                    <i class='item-icon'></i>
                                    <span class='item-text'>薄荷低脂鸡胸肉肠代餐即食零食</span>
                                </p>
                                <p class='item-sale'>
                                    <span>原价<i>29</i></span>
                                    <span>销量<i>3.6万</i></span>
                                </p>
                                <p class='item-price'>
                                    <span>￥<i>19</i></span>
                                    <span><i>10</i>元券</span>
                                </p>
                            </div>
                        </div> -->
                    </div>
                    <div id='page'></div>
                </div>
            </div>
        </div>
        <div id='footer'>
            <div class='container'>
               <ul class='copyright-ul'>
                   <li>网站导航</li>
                   <li class='ul-item'>首页</li>
                   <li class='ul-item'>好货精选</li>
                   <li class='ul-item'>疯抢榜</li>
                   <li class='ul-item'>咚咚抢</li>
                   <li>9.9包邮</li>
               </ul>
               <p>优品购是一家中立的导购网站，网站中的商品信息均来自于互联网。如商品信息不同，可能是商品信息未及时更新，所有商品信息请以天猫/淘宝店铺内为准。</p>
               <div class='copyright-txt'>
                   <span>版权所有 本站内容未经书面许可,禁止一切形式的转载</span>
                   <span>© CopyRight 2021</span>
                   <span>优品购http://m.youpingou.com</span>
                   <span>渝ICP备14005138号-2</span>
                   <span>我要反馈</span>
               </div>
            </div>
            <div class='float-btns'>
                 <p>
                     <img src="https://cmsstatic.ffquan.cn//images/home/sc.png?v=202104231430" alt="">
                     <span>收藏</span>
                 </p>
                 <p>
                     <img src="https://cmsstatic.ffquan.cn//images/home/share.png?v=202104231430" alt="">
                     <span>分享</span>
                 </p>
                 <p>
                     <img src="https://cmsstatic.ffquan.cn//images/home/feedback.png?v=202104231430" alt="">
                     <span>反馈</span>
                 </p>
                 <p class='back-top'>
                     <img src="https://cmsstatic.ffquan.cn//images/home/top.png?v=202104231430" alt="">
                 </p>
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>