<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>优品购</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div id='app'>
         <div id='header'>
             <div class='container'>
                  <div class='header-left'>
                      <a href="">优品购</a>
                  </div>
                  <div class='header-center'>
                      <div class='header-search'>
                          <input type="text" placeholder="好宝贝 等你搜">
                          <button>搜索</button>
                      </div>
                      <div class='hot-search'>
                          <a href="">口罩</a>
                          <a href="">螺狮粉</a>
                          <a href="">抽纸</a>
                          <a href="">洗脸巾</a>
                          <a href="" class='hot-list'>数据线</a>
                          <a href="">洗发水</a>
                          <a href="" class='hot-list'>驱蚊贴</a>
                          <a href="">短袖</a>
                          <a href="">牙膏</a>
                      </div>
                  </div>
                  <div class='header-right'>
                      
                  </div>
             </div>
         </div>
         <div id='nav'>
           <div class='container'>
               <a href="" class='nav-hot'>首页</a>
               <a href="">好货精选</a>
               <a href="">疯抢榜</a>
               <a href="">9块9包邮</a>
               <a href="">咚咚抢</a>
           </div>
         </div>
         <div id='main'>
             <div class='container'>
                 <div class='banner'>
                     <div class='banner-left'>
                          
                     </div>
                 </div>
             </div>
         </div>
    </div>
</body>
</html>