<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/MyPromise.js"></script>
</head>
<body>
    <script>
       let p = new MyPromise({
           url:"../api/listData1.php",
           type:"POST",
           data:{
               page:1,
               length:100
           }
       });

       p.then(value=>{
           value = JSON.parse(value);
           console.log(value);
           render(value.data);
       })


       function render(data){
            let flag = 0;
            flag = 3;
           let res= data.filter(function(item,index){
                return index>=flag && index<flag+3;
            });

            console.log(res);
       }
       
    </script>
</body>
</html>