<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/MyPromise.js"></script>
</head>
<body>
    <script>
       
        // let str = "3.42427元券";
        // let str = "原价 74.97";
        // let str = "销量 4.3万";
    //    const reg = /\d+\.?\d+/;
        // const reg = new RegExp(/\d+\.?\d{0,2}/);

        // console.log(reg.exec(str));

        let str = '【拍十件】田园百珍丹麦工艺曲奇饼干旗舰店';
        let reg = new RegExp(/【\S+】/);
        console.log(str.replace(reg,''));
    </script>
</body>
</html>